<section id="grid" class="grid" data-path="grid">  
  <div class="container">   
    <div class="row g-4 mb-2 mb-md-4">
      <div class="col-md-4">
        {% include cards/grid-card.html 
          image-url="img/grid-left.jpg" 
          image-alt="In the foreground a midshot of a woman with dark hair laughing and in the background two people sit with a wall of Post-its behind them." 
          hover-text="PRX reaches a weekly audience of 6.8 million on air and online"
          type="organization"  %}
      </div>
      <div class="col-md-4">
        {% include cards/grid-card.html
          image-url="img/grid-center.jpg"
          image-alt="A white woman with a microphone interviews a white woman in a war-torn location." 
          hover-text="PRX sees nearly 60 million monthly downloads across our distributed podcasts."
          type="organization"  %}
      </div>
      <div class="col-md-4">
        {% include cards/grid-card.html
          image-url="img/nairobi-1.jpg" 
          image-alt="two Kenyan women at workshop" 
          hover-text="PRX public radio programming airs on more than 1,000 stations worldwide."
          type="organization"  %}
      </div>
    </div>
  </div>
</section>
