<section id="grid" class="grid">  
  <div class="container">   
    <div class="row g-4 mb-2 mb-md-4">
      <div class="col-md-4">
        {% include cards/grid-card.html 
          image-url="img/2guys.jpg" 
          alt="two guys at a workshop" 
          hover-text="PRX reached a weekly audience of 6.8 million on air and online"
          type="organization"  %}
      </div>
      <div class="col-md-4">
        {% include cards/grid-card.html 
          image-url="img/nairobi-1.jpg" 
          alt="two guys at a workshop" 
          hover-text="PRX reached a weekly audience of 6.8 million on air and online"
          type="organization"  %}
      </div>
      <div class="col-md-4">
        {% include cards/grid-card.html 
          image-url="img/laughing.jpg" 
          alt="two guys at a workshop" 
          hover-text="PRX saw nearly 60 million monthly downloads across our distributed podcasts"
          type="organization"  %}
      </div>
    </div>
  </div>
</section>
