<section class="scroll-bg page {{ page.prx-path }}" data-color="{{ page.prx-path }}">
  <div id="{{ page.prx-id }}" class="container">
    {%- if page.hero-title -%}  
      {% include cards/section-hero.html  %}
    {%- endif -%}

    <h3 class="h2 page-heading">{{ page.title }}</h3>
    
    <div class="row">
      <div class="col-md-8">
        {%- if page.audio -%}
          {% include cards/audio.html  %}
        {%- endif -%}
        
        {{ page.content }}
      </div>
      <div class="col-md-4">
        {%- if page.video -%}
          {{ page.video }}
        {% elsif page.image  %}  
          {% include cards/image.html  %}
        {%- endif -%}
      </div>
    </div>

    {%- if page.quote -%}
      {% include cards/quote.html  %}
    {%- endif -%}

    {%- if page.infographic -%}
      {% include cards/infographic.html  %}
    {%- endif -%}

    {%- if page.donor-quote -%}
      {% include cards/quote-donor.html  %}
    {%- endif -%}

    {%- if page.donor-credit -%}
      <p><em>{{ page.donor-credit }}</em></p>
    {%- endif -%}

  </div>

  <aside class="prx-choose container">
    {% include cards/arrows.html class="top" %}

    <div class="row g-4">
      <div class="col-md-4">
        {% include cards/partner-card.html  %}
      </div>
      <div class="col-md-4">
        {% include cards/creator-card.html  %}
      </div>
      <div class="col-md-4">
        {% include cards/listener-card.html  %}
      </div>
    </div>   
    
    {% include cards/arrows.html class="bottom" %}
  </aside>
</section>
