<section class="scroll-bg page {{ page.prx-path }}" data-section-id="{{page.prx-id}}" data-path="{{ page.prx-path }}">
  <div id="section-{{ page.prx-id }}" class="container">
    {%- if page.hero-title -%}  
      {% include cards/section-hero.html  %}
    {%- endif -%}

    <h3 class="h2 page-heading">{{ page.title }}</h3>
    
    <div class="prx-content">
      <div class="content-arrow-down"></div>    
      <div class="content">
      {{ page.content }}

      {%- if page.video -%}
        {{ page.video }}
      {%- endif -%}
      
      {% if page.images  %}  
        {% include cards/carousel.html  %}
      {%- endif -%}
      
      {% if page.image  %}  
        {% include cards/image.html  %}
      {%- endif -%}
      </div>
    </div>

    {%- if page.audio -%}
      {% include cards/audio.html  %}
    {%- endif -%}
    
    {%- if page.quote -%}
      {% include cards/quote.html  %}
    {%- endif -%}

    {%- if page.content2 -%}
      {{ page.content2 }}
    {%- endif -%}

    {%- if page.infographic -%}
      {% include cards/infographic.html  %}
    {%- endif -%}

    {%- if page.donor-quote -%}
      {% include cards/quote-donor.html  %}
    {%- endif -%}

    {%- if page.content3 -%}
      {{ page.content3 }}
    {%- endif -%}

    {%- if page.donor-credit -%}
      <p><em>{{ page.donor-credit }}</em></p>
    {%- endif -%}

    {%- if page.recommendation-name -%}
      {% include cards/recommendations.html  %}
    {%- endif -%}

  </div>
</section>

{%- if page.partner-link or page.creator-link or page.listener-link  -%}
<aside class="scroll-bg prx-choose container" data-path="{{ page.prx-path }}">
  {%- if page.partner-link  -%}
    {% include cards/choose-card.html 
      choose-path="partner"
      link=page.partner-link
      icon="handshake"
      heading="Network Partners"
      title=page.partner-title
    %}
  {%- endif -%}

  {%- if page.creator-link  -%}
    {% include cards/choose-card.html 
      choose-path="creator"
      link=page.creator-link
      icon="mic"
      heading="Creator Projects"
      title=page.creator-title
    %}
  {%- endif -%}

  {%- if page.listener-link  -%}
    {% include cards/choose-card.html 
      choose-path="listener"
      link=page.listener-link
      icon="headphones"
      heading="Listener Lounge"
      title=page.listener-title
    %}
  {%- endif -%}
  {% include cards/arrows.html %}
  {% include cards/completed-card.html 
    choose-path="partner"
    icon="handshake"
    heading="Network Partners"
  %}
  {% include cards/completed-card.html 
    choose-path="creator"
    icon="mic"
    heading="Creator Projects"
  %}
  {% include cards/completed-card.html 
    choose-path="listener"
    icon="headphones"
    heading="Listener Lounge"
  %}
</aside>
{%- endif -%}
