<section id="{{ page.prx-id }}" class="scroll-bg first {{ page.prx-path }}" data-path="{{ page.prx-path }}">
  <div class="container">
    <h2 class="page-heading">{{ page.title }}</h2>
    <div class="row">
      <div class="col-md-8">
        {{ page.content }}
        
        <img src="/assets/img/kerri-signature.png" alt="Kerri Hoffman's signature" width="250" height="92" class="signature" />
      </div>

      {%- if page.image -%} 
      <div class="col-md-4">
        <figure class="page-image">
          {% picture {{ page.image }} --alt {{ page.image-alt }}  %}
          <p class="caption fs-6">{{ page.image-caption }}</p>
        </figure>
      </div>
      {%- endif -%}
    </div>  
    <div class="row mt-4">
      {%- if page.content2 -%}
        {{ page.content2 }}
      {%- endif -%}
    </div>
  </div>
</section>

<aside class="scroll-bg prx-choose container" data-color="organization">
  {% include cards/choose-card.html 
    choose-path="partner"
    choose-style="path-highlight"
    link=page.partner-link
    icon="handshake"
    heading="PRX is for Networks"
    description=page.partner-description
  %}
  {% include cards/choose-card.html 
    choose-path="creator"
    choose-style="path-highlight"
    link=page.creator-link
    icon="mic"
    heading="PRX is for Creators"
    description=page.creator-description
  %}
  {% include cards/choose-card.html 
    choose-path="listener"
    choose-style="path-highlight"
    link=page.listener-link
    icon="headphones"
    heading="PRX is for Listeners"
    description=page.listener-description
  %}
  {% include cards/arrows.html class="bottom welcome" %}
</aside>
