<div class="card card-grid-text p-4 {{ include.type }}">
  {%- if include.hover-text -%}   
    <h2 class="grid-hover-heading">
      {%- if include.grid-link -%}
        <a href="{{ include.grid-link }}" class="stretched-link">{{ include.title }}</a>
      {% else %}
        {{ include.title }}
      {%- endif -%}
    </h2>   
    <p class="grid-hover-text display-1">{{ include.hover-text }}</p> 
    {% else %}
    <h2>
      {%- if include.grid-link -%}
        <a href="{{ include.grid-link }}" class="stretched-link">{{ include.title }}</a>
      {% else %}
        {{ include.title }}
      {%- endif -%}
    </h2>  
  {%- endif -%}
  {%- if include.image-url -%}
  <figure>{% picture {{ include.image-url }} --alt {{ include.alt }} %}</figure>
  {%- endif -%}
</div>