{%- if page.listener-description -%}
<div class="card card-choose path-highlight listener"> 
  <div class="icon-bg"><span class="material-icons">headphones</span></div>               
  <div class="card-body card-descriptive-text d-flex justify-content-center flex-column">
    <h2 class="card-title text-uppercase">PRX is for listeners</h2>
    <div class="card-description"> 
      <p>{{ page.listener-description }}</p> 
    </div>
    <a href="#{{ page.listener-link }}" class="stretched-link"></a>  
  </div>
</div>  
  
{% else %}
<div class="card card-choose listener">   
  <div class="card-body">  
    <h3 class="card-title text-uppercase">listener Projects</h3>
    <a href="#{{ page.listener-link }}" class="stretched-link">{{ page.listener-title }}</a>
  </div>  
</div>
{%- endif -%}
