{%- if page.partner-description -%}
<div class="card card-choose path-highlight partner"> 
  <div class="icon-bg"><span class="material-icons">handshake</span></div>               
  <div class="card-body card-descriptive-text d-flex align-items-center justify-content-center flex-column">
    <h2 class="card-title text-uppercase">PRX is for Partners</h2>
    <div class="card-description"> 
      <p>{{ page.partner-description }}</p> 
    </div>
    <a href="#{{ page.partner-link }}" class="stretched-link"></a>  
  </div>
</div>  
  
{% else %}
<div class="card card-choose partner">   
  <div class="card-body">  
    <h3 class="card-title text-uppercase">Partner Projects</h3>
    <a href="#{{ page.partner-link }}" class="stretched-link">{{ page.partner-title }}</a>
  </div>  
</div>
{%- endif -%}
