<div class="row quote">
  {%- if page.quote-image -%}
  <div class="arrow-container through">
    <div class="arrow-tall"></div>
    <div class="arrow-long"></div>
  </div>

  <blockquote class="col-md-8">
    <div class="display-3">{{ page.quote }}</div>
    {%- if page.quote-citation -%}<footer class="citation">&mdash;{{ page.quote-citation }}</footer>{%- endif -%}
  </blockquote>

  <div class="col-md-4 d-flex align-items-center">
    <figure class="quote-image">
      {% picture {{ page.quote-image }} --alt {{ page.quote-image-alt }}  %}
    </figure>
  </div>
  {% else %}
  <blockquote>
    <div class="display-3">{{ page.quote }}</div>
    {%- if page.quote-citation -%}<footer class="citation">&mdash;{{ page.quote-citation }}</footer>{%- endif -%}
  </blockquote>
  {%- endif -%}
</div>  
