{%- if page.quote-image -%}
<div class="row quote-image-container">
  <blockquote class="quote-text g-col-md-8">
    <div class="display-3">{{ page.quote }}</div>
    {%- if page.quote-citation -%}<footer class="citation">&mdash;{{ page.quote-citation }}</footer>{%- endif -%}
  </blockquote>

  <div class="quote-image-wrapper">
    <div class="quote-arrow">
      <div class="quote-arrow-start"></div>
      <div class="quote-arrow-end"></div>
    </div>

    <figure class="quote-image m-0 p-0">
      {% picture {{ page.quote-image }} --alt {{ page.quote-image-alt }}  %}
    </figure>

  </div>
</div>  
{% else %}
<blockquote class="quote row">
  <div class="col-md-10">
    <div class="display-3">{{ page.quote }}</div>
    {%- if page.quote-citation -%}
    <footer class="citation">&mdash;{{ page.quote-citation }}</footer>
    {%- endif -%}
  </div>
  <div class="col-md-2 quote-bg quote-text d-flex align-items-center justify-content-center">
    <p class="display-1" aria-label="hidden">&rdquo;</p>
  </div>
</blockquote>
{%- endif -%}
