<div class="row">    
  <div class="col-md-4">
    <div class="card card-hero {{ page.prx-path }}">            
      <p class="fs-4 text-uppercase mx-auto px-2 d-flex gap-2 align-items-center">
        {% if page.prx-path == "creator" %} 
          <span class="material-icons" aria-hidden="true">mic</span> 
          <span>Creator Highlights</span>
        {% elsif page.prx-path == "listener" %} 
          <span class="material-icons" aria-hidden="true">headphones</span> 
          <span>Listener Lounge</span>
        {% elsif page.prx-path == "partner" %}
          <span class="material-icons" aria-hidden="true">handshake</span> 
          <span>Network Partnerships</span> 
        {%- endif -%}
      </p>
      <h2 class="fst-normal">{{ page.hero-title }}</h2>
      {%- if page.hero-location -%}
      <p class="fs-4 text-uppercase">{{ page.hero-location }}</p>
      {%- endif -%}

      {%- if page.path-order -%}
      <p class="mt-4">{{ page.path-order }} of {{ page.path-total }}</p>
      {%- endif -%}
    </div>
  </div>
  
  {%- if page.hero-image -%}
  <div class="col-md-8">
    {% include cards/hero-image.html  %}
  </div>  
  {%- endif -%}
</div>
