@mixin square-end {
  width: 20px;
  height: 20px;
  background-color: $orange;
  transform: rotate(45deg);
}

@mixin triangle-end {
  width: 20px;
  height: 20px;
  border: 5px solid $orange;
  border-left: 0;
  border-top: 0;
}

.arrow {
  --_line-width: 5px;
  --_line-color: #{$orange};

  grid-area: ARW;

  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 0);
  grid-template-rows: 1fr 0 1fr;
  grid-template-areas:
    "1_ 1_ 1_"
    "2_ 2_ 2_"
    "3_ 3_ 3_";
  height: 10rem;
  padding-block: 0;

  transition: grid-template-area;

  .segment {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(var(--_line-width) / -2);
      border-style: solid;
      border-color: var(--_line-color);
      border-width: 0;
    }
  }

  .start {
    grid-area: o-;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      translate: -50%;
      transform: rotate(45deg);
      width: calc(var(--_line-width) * 4);
      aspect-ratio: 1;
      background-color: var(--_line-color);
    }

    &::after {
      border-left-width: var(--_line-width);
    }
  }

  .middle {
    grid-area: __;

    &::after {
      top: calc(var(--_line-width) / -2);
      left: calc(var(--_line-width) / -2);
      right: calc(var(--_line-width) / -2);
      border-top-width: var(--_line-width);
    }
  }

  .end {
    grid-area: -o;

    &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0.75rem;
      translate: -50%;
      width: calc(var(--_line-width) * 4);

      width: 20px;
      height: 20px;
      border: 5px solid $orange;
      border-left: 0;
      border-top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: calc(var(--_line-width) * 2.7);
      border-left-width: var(--_line-width);
    }
  }
}

@media (min-width: 768px) {
  .prx-content {
    display: grid;
    position: relative;
    grid-template-columns: 55px 1fr 55px;
    justify-content: space-between;

    .content {
      grid-column: 2;
    }

    .content-arrow-down {
      border-left: 5px solid $orange;
      grid-column: 1;
      height: 100%;
      position: relative;
      
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -12px;
        @include square-end;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -13px;
        @include triangle-end;
        transform: rotate(45deg);
      }
    }  
  } 

  .info-arrow {
    grid-column: 1;
    grid-row: 1;
    border-left: 5px solid $orange;
    border-bottom: 5px solid $orange;
    height: 100%;
    width: 100%;
    padding: 5rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2rem;
    
    .info-arrow-start {
      grid-column: 1;
      grid-row: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      border-top: 5px solid $orange;

      &:after {
        content: "";
        @include square-end();
        position: absolute;
        left: 91%;
        top: -12px;
      }
    }

    .info-arrow-end {
      grid-column: 2;
      grid-row: 2;
      border-right: 5px solid $orange;
      position: absolute;
      right: 0;
      bottom: -2rem;
      height: 3rem;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -12px;
        @include triangle-end;
        transform: rotate(45deg);
      }
    }
  }

  .quote-arrow {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    position: relative;
    z-index: 10;
    height: 110%;

    
    .quote-arrow-start {
      grid-column: 2;
      grid-row: 1;
      position: absolute;
      border-right: 5px solid $orange;
      top: 2rem;
      right: 1rem;
      width: 100%;
      height: 93%;
      border-top: 5px solid $orange;

      &:after {
        content: "";
        @include square-end();
        position: absolute;
        right: 91%;
        top: -12px;
      }
    }

    .quote-arrow-end {
      grid-column: 1;
      grid-row: 1;
      border-top: 5px solid $orange;
      border-left: 5px solid $orange;
      position: absolute;
      right: 1rem;
      bottom: -58px;
      height: 3rem;
      width: 107%;

      &:after {
        content: "";
        position: absolute;
        border-left: 5px solid $orange;
        bottom: 0;
        left: -13px;
        @include triangle-end;
        transform: rotate(45deg);
      }
    }
  }
}