@mixin square-end {
  width: 20px;
  height: 20px;
  background-color: $orange;
  transform: rotate(45deg);
}

@mixin triangle-end {
  width: 20px;
  height: 20px;
  border: 5px solid $orange;
  border-left: 0;
  border-top: 0;
}

.arrow-container {
  display: none;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: 992px) {
    display: block;
  }

  .arrow-start {
    &::before {
      content: "";
      position: absolute;
      left: -7.5px;
      top: 0;
      @include square-end;
    }
  }

  .arrow-tall {
    &::before {
      content: "";
      position: absolute;
      right: calc( 6rem + 4px );
      top: 2rem;
      @include square-end;
    }
  }

  .arrow-end {
    &::after {
      content: "";
      position: absolute;
      bottom: 15px;
      right: -7px;
      transform: rotate(45deg);
      @include triangle-end;
    }
  }

  .arrow-long {
    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      transform: rotate(132deg);
      @include triangle-end;
    }
  }

  &.top {
      margin-left: 33%;
  }

  &.organization,
  &.listener {
    &.top {
      margin-right: 15%;
    }
  }

  &.creator {
    &.top {
      margin-right: 50%;
    }
  }

  &.partner {
    &.top {
      margin-right: 85%;
    }
  }
}

.arrow-center {
  border-top: $arrow-border;
}

.arrow-start {
  height: 2rem;
  border-left: $arrow-border;
}

.arrow-end {
  height: 2rem;
  border-right: $arrow-border;
}

.arrow-long {
  border-bottom: $arrow-border;
  width: 160%;
  position: absolute;
  right: 7rem;
  bottom: 1rem;
}

.arrow-tall {
  height: auto;
  margin-top: 1rem;
  margin-right: 6rem;
  border-right: $arrow-border;
  padding-top: 70%;
}
