@mixin square-end {
    width: 20px;
    height: 20px;
    background-color: $orange;
}

@mixin triangle-end {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: $orange transparent transparent transparent;
}

.arrow-container {
    display: block;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;


    .arrow-start {
        &:before {
            content: "";
            position: absolute;
            left: -7.5px;
            top: 0;
            @include square-end;
        }
    }

    .arrow-end {
        &::after {
            content: "";
            position: absolute;
            bottom: 2px;
            right: -12px;
            @include triangle-end;
        }
    }

    &.top {
        margin-left: 33%;
    }
}

.arrow-center {
    border-top: $arrow-border;
}

.arrow-start {
    height: 2rem;
    border-left: $arrow-border;
}

.arrow-end {
    height: 2rem;
    border-right: $arrow-border;
}

.organization .arrow-container,
.listener .arrow-container {
    &.top {
        margin-right: 15%;
    }
}

.creator .arrow-container {
    &.top {
        margin-right: 50%;
    }
}

.partner .arrow-container {
    &.top {
        margin-right: 85%;
    }
}

