.card {
  background: transparent url( '/assets/img/logo-b4-vector-dark.svg' ) no-repeat bottom right;
  border-radius: 10px;
  font-style: italic;
  border: none;
}

.card-grid-text {
  .display-1 {
    color: $white;
  }
}

.card-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 60vh;

  &.creator {
    background-color: $red;
    color: $white;

    h2 {
      color: $white;
    }
  }

  &.listener {
    background-color: $blue;
    color: $white;

    h2 {
      color: $white;
    }
  }

  &.partner {
    background-color: $ltblue;
    color: $gray-800;
  }
}

.card-infographic {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-image: none;
  padding: 1rem;
  border-radius: 0;

  .display-1 {
    font-size: 6rem;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }
}
