.card {
  background: transparent url( '/assets/img/logo-b4-vector-dark.svg' ) no-repeat bottom right;
  border-radius: 10px;
  font-style: italic;
  border: none;
}

.card-grid-text {
  .display-1 {
    color: $white;
  }
}

.card-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 60vh;

  &.creator {
    background-color: $red;
    color: $white;

    h2 {
      color: $white;
    }
  }

  &.listener {
    background-color: $blue;
    color: $white;

    h2 {
      color: $white;
    }
  }

  &.partner {
    background-color: $ltblue;
    color: $gray-800;
  }
}

.card-infographic {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  background-image: url( '/assets/img/logo-b4-vector.svg' );

  .display-1 {
    font-size: 6rem;
  }
}
