.path-highlight {
  border: 5px solid $orange;

  .card-descriptive-text {
    position: relative;
    z-index: 10;
  }

  .icon-bg {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .material-icons {
      width: 100%;
      color: $dark-blue;
      opacity: 0.2;
      font-size: 15rem;
    }
  }
}

.prx-choose {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 10rem 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "--_ ARW ARW ARW ARW _--"
    "AAA AAA BBB BBB CCC CCC";
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.5rem;

  .js-mouse & {
    min-height: 120vh;
    transition: min-height $choose-select-transition-duration ease-out;

    &[data-path-selected] {
      min-height: 0vh;
    }

    .scroll-target {
      position: absolute;
      height: 0;
      width: 100%;
      bottom: 20vh;
    }
  }
}

.card-choose {
  $border-width: 5px;

  --_path-color: #{$primary};
  --_text-color: #{$primary};
  --_text-contrast-color: #{$white};

  align-self: stretch;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: start;
  text-decoration: none;

  border: $border-width solid var(--_path-color);
  background-image: none;
  color: var(--_text-color);
  transition: scale 0.5s ease-in-out;

  cursor: pointer;

  .h4 {
    color: inherit;
  }

  .cta {
    position: relative;
    display: none;
    align-content: end;
  }

  .cta-content {
    position: sticky;
    bottom: 0;
    display: grid;
    justify-items: center;
    align-content: start;
    padding-block-end: 0.5rem;

    .message {
      text-transform: uppercase;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0 calc(1.5rem / -2 - #{$border-width});
  }

  &:active {
    transform: scale(0.98);
  }

  &:hover,
  &.completed {
    background-color: var(--_path-color);
    color: var(--_text-contrast-color);
  }

  &.path-highlight {
    background-color: var(--_path-color);
    color: var(--_text-contrast-color);

    .h2 {
      color: var(--_text-contrast-color);
    }

    .icon-bg {
      .material-icons {
        color: var(--_text-contrast-color);
      }
    }
  }

  &[data-path-target="partner"] {
    grid-area: AAA;
    --_path-color: #{$ltblue};
    --_text-color: #{$gray-800};
    --_text-contrast-color: #{$gray-800};

    [data-scroll-path="partner"] :not([data-path-selected]) > & {
      background-color: var(--_path-color);
      color: var(--_text-contrast-color);

      .cta {
        display: grid;
      }
    }

    & ~ &.completed {
      display: none;
    }
  }

  &[data-path-target="creator"] {
    grid-area: BBB;
    --_path-color: #{$red};
    --_text-color: #{$red};

    [data-scroll-path="creator"] :not([data-path-selected]) > & {
      background-color: var(--_path-color);
      color: var(--_text-contrast-color);

      .cta {
        display: grid;
      }
    }

    & ~ &.completed {
      display: none;
    }
  }

  &[data-path-target="listener"] {
    grid-area: CCC;
    --_path-color: #{$blue};
    --_text-color: #{$blue};

    [data-scroll-path="listener"] :not([data-path-selected]) > & {
      background-color: var(--_path-color);
      color: var(--_text-contrast-color);

      .cta {
        display: grid;
      }
    }

    & ~ &.completed {
      display: none;
    }
  }

  &.completed {
    align-self: start;

    .card-description {
      font-size: 3rem;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }

    .cta {
      display: none !important;
    }
  }
}

// A Paths
[data-path="partner"] {
  & + .prx-choose {
    .arrow,
    [data-scroll-path="partner"] &:not([data-path-selected]) .arrow,
    [data-path-target="partner"]:hover ~ .arrow {
      grid-template-areas:
        "o- 1_ 1_"
        "__ 2_ 2_"
        "-o 3_ 3_";
    }

    [data-scroll-path="creator"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="creator"] .arrow,
    [data-path-target="creator"]:hover ~ .arrow {
      grid-template-areas:
        "o- 1_ 1_"
        "__ __ 2_"
        "_3 -o 3_";
    }

    [data-scroll-path="listener"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="listener"] .arrow,
    [data-path-target="listener"]:hover ~ .arrow {
      grid-template-areas:
        "o- 1_ 1_"
        "__ __ __"
        "_3 _3 -o";
    }
  }
}

// B Paths
:not([data-path]),
[data-path="organization"],
[data-path="creator"] {
  & + .prx-choose {
    [data-scroll-path="partner"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="partner"] .arrow,
    [data-path-target="partner"]:hover ~ .arrow {
      grid-template-areas:
        "_1 o- 1_"
        "__ __ 2_"
        "-o 3_ 3_";
    }

    .arrow,
    [data-scroll-path="creator"] &:not([data-path-selected]) .arrow,
    [data-path-target="creator"]:hover ~ .arrow {
      grid-template-areas:
        "_1 o- 1_"
        "_2 __ 2_"
        "_3 -o 3_";
    }

    [data-scroll-path="listener"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="listener"] .arrow,
    [data-path-target="listener"]:hover ~ .arrow {
      grid-template-areas:
        "_1 o- 1_"
        "_2 __ __"
        "_3 _3 -o";
    }
  }
}

// C Paths
[data-path="listener"] {
  & + .prx-choose {
    [data-scroll-path="partner"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="partner"] .arrow,
    [data-path-target="partner"]:hover ~ .arrow {
      grid-template-areas:
        "_1 _1 o-"
        "__ __ __"
        "-o 3_ 3_";
    }

    [data-scroll-path="creator"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="creator"] .arrow,
    [data-path-target="creator"]:hover ~ .arrow {
      grid-template-areas:
        "_1 _1 o-"
        "_2 __ __"
        "_3 -o 3_";
    }

    .arrow,
    [data-scroll-path="listener"] &:not([data-path-selected]) .arrow,
    [data-path-target="listener"]:hover ~ .arrow {
      grid-template-areas:
        "_1 _1 o-"
        "_2 _2 __"
        "_3 _3 -o";
    }
  }
}
