.prx-choose {
    .card {
        background: transparent;
        border: 5px solid $primary;
        border-radius: 10px;
        padding-bottom: 6rem;
        font-style: italic;

        a:link,
        a:visited {
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            background-color: $primary;
            color: $white;
        }

        &.creator {
            color: $red;
            border-color: $red;
            
            &:hover {
                background-color: $red;
                color: $white;
            }
        }

        &.partner {
            border-color: $ltblue;
            color: $gray-800;
            
            &:hover {
                background-color: $ltblue;
                color: $black;
            }
        }
    }
}