.path-highlight {
  border: 5px solid $orange;

  .card-descriptive-text {
    position: relative;
    z-index: 10;
  }

  .icon-bg {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .material-icons {
      width: 100%;
      color: $dark-blue;
      opacity: 0.2;
      font-size: 15rem;
    }
  }
}

.prx-choose {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 10rem 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "--_ ARW ARW ARW ARW _--"
    "AAA AAA BBB BBB CCC CCC";
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.5rem;

  .js-mouse & {
    min-height: 120vh;
    transition: min-height $choose-select-transition-duration ease-out;

    &[data-path-selected] {
      min-height: 0vh;
    }

    .scroll-target {
      position: absolute;
      height: 0;
      width: 100%;
      bottom: 20vh;
      outline: 1px solid red;
    }
  }
}

.card-choose {
  $border-width: 5px;

  align-self: stretch;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: start;
  text-decoration: none;

  border: $border-width solid $primary;
  background-image: none;
  color: inherit;
  transition: scale .5s ease-in-out; 

  cursor: pointer;

  .h4 {
    color: inherit;
  }

  .cta {
    position: relative;
    display: none;
    align-content: end;
  }

  .cta-content {
    position: sticky;
    bottom: 0;
    display: grid;
    justify-items: center;
    align-content: start;
    padding-block-end: 0.5rem;

    .message {
      text-transform: uppercase;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0 calc(1.5rem / -2 - #{$border-width});
  }

  &:active {
    transform: scale(0.98); 
  }

  &:hover {
    background-color: $primary;
    color: $white;
  }

  &[data-path-target="partner"] {
    grid-area: AAA;
    border-color: $ltblue;
    color: $gray-800;
    
    &:hover {
      background-color: $ltblue;
      color: $black;
    }

    &.path-highlight {
      background-color: $ltblue;
      color: $dark-blue;
  
      .icon-bg {
        .material-icons {color: $white;}
      }
    }

    [data-scroll-path="partner"] :not([data-path-selected]) > & {
      background-color: $ltblue;
      color: $black;

      .cta {
        display: grid;
      }
    }
  }

  &[data-path-target="creator"] {
    grid-area: BBB;
    color: $red;
    border-color: $red;
      
    &:hover {
      background-color: $red;
      color: $white;
    }

    &.path-highlight {
      background-color: $red;
      color: $white;
  
      .h2 {
        color: $white;
      }
    }

    [data-scroll-path="creator"] :not([data-path-selected]) > & {
      background-color: $red;
      color: $white;

      .cta {
        display: grid;
      }
    }
  }

  &[data-path-target="listener"] {
    grid-area: CCC;
    color: $blue;
    border-color: $blue;
    
    &:hover {
      background-color: $blue;
      color: $white;
    }

    &.path-highlight {
      background-color: $blue;
      color: $white;
  
      .h2 {
        color: $white;
      }
    }

    [data-scroll-path="listener"] :not([data-path-selected]) > & {
      background-color: $blue;
      color: $white;
      
      .cta {
        display: grid;
      }
    }
  }
}

// A Paths
[data-path="partner"] {
  & + .prx-choose {
    .arrow,
    [data-scroll-path="partner"] &:not([data-path-selected]) .arrow,
    [data-path-target="partner"]:hover ~ .arrow {
      grid-template-areas:
        "o- 1_ 1_"
        "__ 2_ 2_"
        "-o 3_ 3_";
    }

    [data-scroll-path="creator"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="creator"] .arrow,
    [data-path-target="creator"]:hover ~ .arrow {
      grid-template-areas:
        "o- 1_ 1_"
        "__ __ 2_"
        "_3 -o 3_";
    }

    [data-scroll-path="listener"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="listener"] .arrow,
    [data-path-target="listener"]:hover ~ .arrow {
      grid-template-areas:
        "o- 1_ 1_"
        "__ __ __"
        "_3 _3 -o";
    }
  }
}

// B Paths
:not([data-path]),
[data-path="organization"],
[data-path="creator"] {
  & + .prx-choose {
    [data-scroll-path="partner"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="partner"] .arrow,
    [data-path-target="partner"]:hover ~ .arrow {
      grid-template-areas:
        "_1 o- 1_"
        "__ __ 2_"
        "-o 3_ 3_";
    }

    .arrow,
    [data-scroll-path="creator"] &:not([data-path-selected]) .arrow,
    [data-path-target="creator"]:hover ~ .arrow {
      grid-template-areas:
        "_1 o- 1_"
        "_2 __ 2_"
        "_3 -o 3_";
    }

    [data-scroll-path="listener"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="listener"] .arrow,
    [data-path-target="listener"]:hover ~ .arrow {
      grid-template-areas:
        "_1 o- 1_"
        "_2 __ __"
        "_3 _3 -o";
    }
  }
}

// C Paths
[data-path="listener"] {
  & + .prx-choose {
    [data-scroll-path="partner"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="partner"] .arrow,
    [data-path-target="partner"]:hover ~ .arrow {
      grid-template-areas:
        "_1 _1 o-"
        "__ __ __"
        "-o 3_ 3_";
    }

    [data-scroll-path="creator"] &:not([data-path-selected]) .arrow,
    &[data-path-selected="creator"] .arrow,
    [data-path-target="creator"]:hover ~ .arrow {
      grid-template-areas:
        "_1 _1 o-"
        "_2 __ __"
        "_3 -o 3_";
    }

    .arrow,
    [data-scroll-path="listener"] &:not([data-path-selected]) .arrow,
    [data-path-target="listener"]:hover ~ .arrow {
      grid-template-areas:
        "_1 _1 o-"
        "_2 _2 __"
        "_3 _3 -o";
    }
  }
}
