html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  background-color: $white;
  transition: background-color 1s ease;
}

.page {
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 100vh;

 /* &.organization {
    background-color: $bg-orange;
  }

  &.creator {
    background-color: $bg-red;
  }

  &.listener {
    background-color: $bg-blue;
  }

  &.partner {
    background-color: $bg-ltblue;
  }*/
}

/* colors */
.color-organization {
  background-color: $bg-orange;
}

.color-creator {
  background-color: $bg-red;
}

.color-partner {
  background-color: $bg-ltblue;
}
.color-listener {
  background-color: $bg-blue;
}
