html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  transition: background-color 1s ease;
  display: flex;
}

.nav-container {
  width: 50px;
  height: 100vh;
}

.content-container {
  width: calc( 100% - 50px );
}

.page {
  padding-top: 5rem;
  min-height: 100vh;

  .container {
    padding-top: 1rem;
  }

  &.first {
    padding-top: 0;
    min-height: auto;
  }
}

.infographic {
  margin-bottom: 2rem;
}

[data-theme="organization"] {
  background-color: #fff;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(to right, $bg-orange, $bg-orange 1px, #fff 1px, #fff);
}

[data-theme="creator"] {
  background-color: #fff;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, $bg-red, $bg-red 1px, #fff 1px, #fff);
}

[data-theme="partner"] {
  background-color: #fff;
  background-image:  linear-gradient($bg-ltblue 2px, transparent 2px), linear-gradient(90deg, $bg-ltblue 2px, transparent 2px), linear-gradient($bg-ltblue 1px, transparent 1px), linear-gradient(90deg, $bg-ltblue 1px, #fff 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

[data-theme="listener"] {
  background-color: #fff;
  background-image:  linear-gradient(135deg, $bg-blue 25%, transparent 25%), linear-gradient(225deg, $bg-blue 25%, transparent 25%), linear-gradient(45deg, $bg-blue 25%, transparent 25%), linear-gradient(315deg, $bg-blue 25%, #fff 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

[data-theme="grid"] {
  background-color: $white;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

audio {
  width: 100%;
}

iframe {
 	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%; 
}

.citation {
  text-transform: uppercase;
  font-size: 1em;
  color: $gray-700;
  margin-top: 1rem;
}

.caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  border-radius: 10px;
  position: relative;

  picture {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center center;
  }
}
