:root {
  --bs-dark-rgb: 0, 58, 87;
  --bs-accordion-border-color: #003A57;
  --bs-border-color: #003A57;
}

@mixin btn-close-white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

@mixin white-chevron {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@mixin black-chevron {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.prx-navbar {
  display: grid;
  position: fixed;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 50px);
  column-gap: 0;
  row-gap: 0;
  background-color: $dark-blue;
  text-align: center;
  width: 100%;
  z-index: 1020;
  padding: 10px 1rem;
  
  .prx-side-btn {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    align-self: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5rem;

    &.prx-donate-btn {
      grid-column: 3;
    }
  }

  .prx-mark {
    grid-column: 2;
    grid-row: 1;

    img {
      width: 35px;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(3, 60px) auto;
    width: 50px;
    height: 100vh;
    justify-items: start;
    align-items: center;
    padding: 0;

    .prx-side-btn {
      grid-column: 1;
      grid-row: 2;
      justify-content: start;
      flex-direction: column;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
      gap: 0;
      width: 50px;
  
      &.prx-donate-btn {
        grid-column: 1;
        grid-row: 3;
      }
    }
  
    .prx-mark {
      width: 50px;
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.prx-side-btn {
  text-decoration: none;
  color: $white;
  line-height: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &:hover {
    background-color: $blue;
  }

  &.prx-donate-btn {
    background-color: $orange;
    color: $black;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

.prx-offcanvas {
  .btn-close {
    @include btn-close-white();
  }
}

.prx-menu-text {
  font-size: .75rem;
  font-style: italic;
  text-transform: uppercase;
}

.prx-close-btn {
  color: $white;
}

.prx-listener {
  .accordion-button, 
  .nav-link {
    background-color: $blue;
    color: $white;

    &.collapsed::after {
      @include black-chevron();
    }
  }
}

.prx-creator {
  .accordion-button, 
  .nav-link {
    background-color: $red;
    color: $white;

    &.collapsed::after {
      @include white-chevron();
    }
  }
}

.prx-partner {
  .accordion-button, 
  .nav-link {
    background-color: $ltblue;
    color: $black;

    &.collapsed::after {
      @include white-chevron();
    }
  }
}

.prx-organization {
  background-color: $gray-100;
  color: $black;

  &:hover {
    color: $gray-800;
  }
}

.prx-donate {
  background-color: $orange;
  color: $black;

  &:hover {
    color: $gray-800;
  }
}

.prx-offcanvas {
  .nav-link {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.prx-more-links {
  .nav-item {
    border-top: 1px solid $dark-blue;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.accordion {
  border-top: 1px solid $dark-blue;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}