blockquote {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 992px) {
  .quote-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    align-items: center;

    .quote-text {
      grid-row: 1;
      grid-column: span 2;
    }

    .quote-image-wrapper {
      grid-row: 1;
      grid-column: 3;
      
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      position: relative;
      align-items: center;
    }

    .quote-image {
      grid-row: 1;
      grid-column: 1;
    }
  }
}

.quote {
  .display-1 {
    font-size: 6rem;
    text-align: center;
  }
}

.quote-bg {
  background-image: url("/assets/img/logo-b4-vector-dark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 160px 139px;
}
