
.page {
  p {
    text-wrap: pretty;
  }

  :where(a, a:link, a:visited) {
    --_bg-progress: var(--link-bg-progress, 0);
    --_bg-color: var(--link-bg-color, #{$orange});

    color: inherit;
    text-decoration: none;
    position: relative;
    font-weight: 700;

    transition: background-size 250ms;

    background-image:
      linear-gradient(var(--_bg-color), var(--_bg-color)),
      linear-gradient(var(--_bg-color), var(--_bg-color));
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 3px, 100% var(--_bg-progress);
    background-position: left bottom;

    &:focus-visible {
      outline: none;
    }

    &:hover, &:focus-visible {
      --link-bg-progress: 100%;
    }
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 700;
  letter-spacing: -0.1rem;
  color: $dark-blue;
}

.page-heading {
  background-image: url(/assets/img/heading.svg);
  background-repeat: no-repeat;
  padding-left: 55px;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 1.25rem;
  color: $dark-blue;
  text-wrap: pretty;

  a:link, a:visited {
    font-weight: 900;
  }

  @media (min-width: 768px) {
    padding-right: 55px;
  }
}

.display-1 {
  font-family: $header-font-family;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  color: $dark-blue;
}

.display-2 {
  font-family: $header-font-family;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.display-3 {
  font-family: $header-font-family;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.5;
  margin: 0;
  color: $dark-blue;
}

.content {
  p {
    font-size: 1.35rem;
    line-height: 1.5;
  }
}

h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted $orange;
  letter-spacing: normal;

  &.h3 {
    margin-top: 2rem;
    border-bottom: none;
  }
}

.prx-givers {
  li {
    color: $dark-blue;
  }
}

.awards-list {
  list-style-position: outside;
  
  li {
    margin-bottom: 0.5rem;
    line-height: 1.3;
  }
}
