.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.page-heading {
  background-image: url(/assets/img/heading.svg);
  background-repeat: no-repeat;
  padding-left: 55px;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 1.25rem;
}

.display-1 {
  font-family: $header-font-family;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

.display-2 {
  font-family: $header-font-family;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}