<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  {% include app/meta.html %}

  {%- feed_meta -%}

  {%- include app/head.html -%}

</head>

<body>
  <header class="nav-container">
    {% include navbar/navbar.html %}
  </header>

  <div class="content-container">
    {{ content }}
    {% include app/footer.html %}
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="position: absolute; width: 0; height: 0">
      <defs>
          <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feBlend in="SourceGraphic" in2="goo" />
          </filter>
      </defs>
  </svg>
</body>
</html>
