<nav class="prx-navbar fixed-top shadow align-items-center">
  <a class="prx-mark" href="#top"><img src="/assets/img/Mark.svg" alt="PRX" /></a>
  
  <a class="prx-side-btn" data-bs-toggle="offcanvas" href="#offcanvasNav" role="button" aria-controls="offcanvasNav">
    <span class="material-icons" aria-hidden="true">menu</span> 
    <span class="prx-menu-text">Menu</span>
  </a>

  <a href="https://give.prx.org/give/529551/#!/donation/checkout" target="prx-donate" data-donate-campaign-id="529551" class="prx-side-btn prx-donate-btn">
    <span class="material-icons" aria-hidden="true">favorite</span> <span class="prx-menu-text">Donate</span>
  </a>
</nav>