<nav class="prx-navbar fixed-top shadow align-items-center">
  <a class="prx-mark" href="#top"><img src="/assets/img/Mark.svg" alt="PRX" /></a>
  
  <a class="prx-side-btn" data-bs-toggle="offcanvas" href="#offcanvasNav" role="button" aria-controls="offcanvasNav">
    <span class="material-icons" aria-label="hidden">menu</span> 
    <span class="prx-menu-text">Menu</span>
  </a>

  <a href="https://give.prx.org/" target="_blank" class="prx-side-btn prx-donate-btn">
    <span class="material-icons" aria-label="hidden">favorite</span> <span class="prx-menu-text">Donate</span>
  </a>
</nav>